<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/main.css">
    <link rel="stylesheet" href="/topbar.css">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="/fontawesome/css/all.css" rel="stylesheet"> <!--load all styles -->
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap" rel="stylesheet">
    <title>พิพิธภัณฑ์มหาวิทยาลัยศรีนึรินทร์วิโรฆ</title>
</head>
<body>
    <div class="topmenu">
        <div>
            <div class="leftmenu">

            </div>
            <div class="rightmenu">
                <a href=""><i class="fab fa-instagram"></i></a>
                <a href=""><i class="fab fa-facebook"></i></a>
                <a href=""><i class="fab fa-twitter"></i></a>
                <a href=""><i class="fab fa-line"></i></a>
                <form action="">
                    <input type="search">
                    <button type="submit"><i class="fa fa-search"></i></button>
                </form>
                <a class="login" href="">เข้าสู่ระบบ <i class="fas fa-user"></i></a>
            </div>
        </div>
    </div>

