<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/main.css">
    <link rel="stylesheet" href="/topbar.css">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="/fontawesome/css/all.css" rel="stylesheet"> <!--load all styles -->
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap" rel="stylesheet">
    <title>พิพิธภัณฑ์มหาวิทยาลัยศรีนึรินทร์วิโรฆ</title>
</head>
<body>

<div class="topbar">
    <div class="left">
        <div>
            TH&nbsp;
        </div>
        <label class="switch">
            <input type="checkbox">
            <span class="slider round"></span>
          </label>
          <div>
            &nbsp;EN
        </div>
    </div>
    <div class="right">
        <div>
        <i class="fab fa-facebook-f"></i>
        <i class="fab fa-facebook-f"></i>
        <i class="fab fa-facebook-f"></i>
        <i class="fab fa-facebook-f"></i>
        </div>
        <div class="">
            <div><i class="fas fa-search"></i></div>
            <input type="search">
        </div>
    </div>
</div>